
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12" id="first-name">
        <h1 id="name">JENEE TAYLOR</h1>
      </div>
    </div>
  </div>
</div>

<div class="skinny-border">
</div>

<button class="accordion">Full Stack Web Developer</button>
<div class="panel">
  <div class="container">

    <div class="row">
      <div class="col-md-12" id="icons-align">
        <ul id="devicons">
          <li><i class="devicon-css3-plain-wordmark"></i></li>
          <li><i class="devicon-html5-plain-wordmark"></i></li>
          <li><i class="devicon-javascript-plain"></i></li>
          <li><i class="devicon-ruby-plain-wordmark"></i></li>
          <li><i class="devicon-jquery-plain-wordmark"></i></li>
          <li><i class="devicon-rails-plain-wordmark"></i></li>
          <li><i class="devicon-git-plain-wordmark"></i></li>
          <li><i class="devicon-python-plain-wordmark"></i></li>
          <li><i class="devicon-php-plain"></i></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="forever">Forever Expanding...</p>
      </div>
    </div>
  </div>
</div>

<!-- RECENT PROJECTS -------------------------------->
<button class="accordion">Recent Projects</button>
<div class="panel">
  <div class="container">
    <div class="row" id="project-align">
      <div class="col-md-4" id="spindiv">
        <a href="#" class="me2">#Me2</a>
      </div>

      <div class="col-md-4" id="spindiv">
        <a href="#" class="crc">Caribbean Regenerative Center</a>
      </div>

      <div class="col-md-4" id="spindiv">
        <a href="#" class="develdev">DevelDev</a>
      </div>

      <!-- <div class="col-md-3">
        <a href="#"></a></a>
      </div> -->
    </div>
  </div>
</div>

<!-- BIO ------------------------------------------------------>
<button class="accordion">Bio</button>
<div class="panel">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <%= image_tag 'neyney_wyncode_burned.png', class: 'bio-pic' %>
      </div>

      <div class="col-md-6">
        <p class='bio-text'>Hi! My name is Jenee. I'm a Full Stack Web Developer living in Miami, Florida.</p>
          <hr>
        <p class='bio-text'>
        I'm a recent graduate of Wyncode Academy. Before transitioning to web development, I was working as a waitress in a cocktail bar - that much is true!
          Making the decision to learn how to code has been one of the best ones I've made thus far. I absolutely LOVE programming! I enjoy creating unique, inuitive, user-friendly
          websites and applications. I'm constantly learning new programming technologies to further sharpen my new super-power.</p>
        <p class='bio-text'>I am very passionate about community wellness and bringing people together. My technological interests include Artificial Intelligence, Robotics, Virtual Reality, Web Development, and Mobile Development.
          I aim to fuse these components together to help create solutions for some of the world's biggest problems.</p>
        </p>
        <p class='bio-text'>In my free time, I enjoy shooting pool, playing basketball, reading Tarot, and going to the gym. I also am a lyricist, known to set fire to a few microphones ;-).</p>
        <div class="bio-image-one">

        <%= image_tag 'bball.png', class: 'bio-image' %>
        <%= image_tag 'tarot.png', class: 'bio-image' %>
        <%= image_tag 'mic.png', class: 'bio-image' %>
        <%= image_tag '8ball.png', class: 'bio-image' %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CONTACT  ----------------------------------------------------->
<button class="accordion">CONTACT</button>
  <div class="panel">
    <div class="container">

      <h4 id="contact-intro">I would love to help you with your next project!</h4>
      <p id="contact-intro-2">Please feel free to contact me anytime for any questions or estimates.</p>
      <div class="row">
        <div class="col-md-6" id="contact-text">
            <%= render 'contacts/form' %>
            <p id="contact-response">I will respond to your email within 24-48 hours. Promise.</p>
        </div>


      <div class="col-md-6" id="miami" >
        <%= image_tag 'full_bloom.png', class: 'contact-pic' %>

        <div class="contact-icons">
          <p class='made-in-miami'>Made in Miami with <i class="fa fa-heart" aria-hidden="true"></i> </p>
          <a href="tel:305-305-6306" id="phone"><i class="fa fa-phone" aria-hidden="true"></i></a>
          <a href="mailto:jenee@jeneetaylor.co" id="email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
          <a target="_blank" href='https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button'><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          <a target="_blank" href='https://github.com/NeyNey305'><i class="fa fa-github" aria-hidden="true"></i></a>
          <a target="_blank" href='https://twitter.com/Jenee305'><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <p class='copyright-info'>&copy; 2017 Jenee Taylor Development</p>
  </div>
</div>


<!-- JAVASCRIPT FOR ACCORDION MENU ----------------------------->

<script type="text/javascript">
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
      this.classList.toggle("active");
      this.nextElementSibling.classList.toggle("show");
    }
  }

</script>
