<!DOCTYPE html>
<html>
  <head>
    <title>Jenee Taylor</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

<script src="https://use.fontawesome.com/5f14156b7a.js"></script>

<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Over+the+Rainbow" rel="stylesheet">

  </head>

  <body>
    <%= yield %>
    <!-- <p id="notice"><%= flash[:notice] %></p> -->
  </body>
</html>
